@import "./variables";

.fly-out {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100vh;
  transform: translateX(-70vw);
  transition: all 0.5s ease;
}

.fly-in {
  transform: translateX(0);
  transition: all 0.5s ease;
}

.disable-scrolling {
  overflow: hidden;
}
