@import "./variables";
@import "./breakpoints";

.btn {
  padding: 5px;
  width: 160px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  border-radius: 40px;
  font-size: 20px;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    transition: all 0.2s ease;
  }
  @include respond-to("mobile-md") {
    width: 190px;
    height: 60px;
    font-size: 25px;
  }
  @include respond-to("tablet-lg") {
    margin-top: 10px;
    width: 230px;
    height: 70px;
    font-size: 33px;
  }
  @include respond-to("desktop") {
    margin-top: 15px;
    width: 250px;
    height: 75px;
    font-size: 35px;
  }
}
